<div class="container-form mx-auto mb-5">
    <a href="/admin" class="btn btn-primary mb-3 boton-regresar">Ver lista</a>

    <form action="/admin/editar/<%= productEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="row mx-auto text-center p-4 form-border" id="fromEditar">
        <h3>Modificación de Producto</h3>
        <h6 class="text-body-tertiary" >Ingrese la información</h6>
        
        <div class="col-sm-12 col-md-6 mb-2">
          <label class="form-label" for="titulo">Titulo <span class="field-required text-danger text-end "></span></label>
            <input class="form-control" type="text" name="title" id="titulo" placeholder="Ingrese un título" value="<%= productEdit.name %>" >
            <p class="text-danger error-titulo">
            <% if (locals.errors) { %>
                    <% locals.errors.forEach(error => { %>
                        <% if (error.path === 'title') { %>
                            <span class="feedback"><%= error.msg %></span>   
                        <% } %>
                    <% }) %>
                <% } %>
          </p>
        </div>
        <div class="col-sm-12 col-md-6 mb-2">
            <label class="form-label" for="precio">Precio <span class="field-required text-danger text-end"></span></label>
            <input class="form-control" type="number" name="price" id="precio" placeholder="Ingrese el precio" value="<%= productEdit.price %>">
            <p class="text-danger error-precio">
            
                <% if (locals.errors) { %>
                    <% locals.errors.forEach(error => { %>
                        <% if (error.path === 'price') { %>
                            <span class="feedback"><%= error.msg %></span>   
                        <% } %>
                    <% }) %>
                <% } %>
          </p>
        </div>

        <div class="col-sm-12 col-md-6 mb-2">
            <label class="form-label" for="descuento">Descuento <span class="field-required text-danger text-end"></span></label>
            <input class="form-control" type="number" name="discount" id="descuento" placeholder="Descuento del" value="<%= productEdit.discount %>">
            <p class="text-danger error-descuento">
                <% if (locals.errors) { %>
                    <% locals.errors.forEach(error => { %>
                        <% if (error.path === 'discount') { %>
                            <span class="feedback"><%= error.msg %></span>   
                        <% } %>
                    <% }) %>
                <% } %>
          </p>
        </div>

        <div class="col-sm-12 col-md-6 mb-2">
            <label class="mb-1 text-success">Envíos Gratis <span class="field-required text-danger text-end"></span></label>
            <br>
            <div class="form-check form-check-inline">
                <input <%= productEdit.free_shipping === true ? "checked" : null %>class="form-check-input" type="radio" id="enviosSi" name="freeShipping" value="true">
                <label for="enviosSi" class="form-check-label">Sí</label>
            </div>
            <div class="form-check form-check-inline">
                <input <%= productEdit.free_shipping === false ? "checked" : null %> class="form-check-input" type="radio" id="enviosNo" name="freeShipping" value="false">
                <label for="enviosNo" class="form-check-label">No</label>
            </div>
        </div>
        <div class="mb-2 fs-5">
            <label for="fotoproducto" class="form-label">Foto del producto <span class="field-required text-danger text-end"></span></label>
            <input class="form-control" type="file" id="fotoproducto" name="image">
            <p class="text-danger error-file">
               <% if (locals.errors) { %>
                    <% locals.errors.forEach(error => { %>
                        <% if (error.path === 'image') { %>
                            <span class="feedback"><%= error.msg %></span>   
                        <% } %>
                    <% }) %>
                <% } %>
              </p>
        </div>

        <div class="col-12 mb-2">
            <label class="mb-2 fs-5">Categoria <span class="field-required text-danger text-end"></span></label>
            <br>
            <div class="form-check form-check-inline">
                <input <%= productEdit.category_id === 2 ? "checked" : null %> class="form-check-input" type="radio" id="pizza" name="category" value="2">
                <label for="pizza" class="form-check-label">Pizza</label>
            </div>
            <div class="form-check form-check-inline">
                <input  <%= productEdit.category_id === 3 ? "checked" : null %> class="form-check-input" type="radio" id="hamburguesa" name="category" value="3">
                <label for="hamburguesa" class="form-check-label">Hamburguesa</label>
            </div>
            <div class="form-check form-check-inline">
                <input <%= productEdit.category_id === 1 ? "checked" : null %> class="form-check-input" type="radio" id="papas" name="category" value="1">
                <label for="papas" class="form-check-label">Papas</label>
            </div>
        </div>

        <div class="mb-5">
            
            <textarea class="form-control" placeholder="Escribe la descripción" id="exampleTextarea" name="detail" style="height: 100px"><%= productEdit.detail %></textarea>
            <p class="text-danger error-detail">
                <% if (locals.errors) { %>
                    <% locals.errors.forEach(error => { %>
                        <% if (error.path === 'detail') { %>
                            <span class="feedback"><%= error.msg %></span>   
                        <% } %>
                    <% }) %>
                <% } %>
              </p>
              
        </div>
        <br>

        <div class="col mb-1 d-flex justify-content-end gap-2">
            <button type="submit" class="btn btn-secondary">Mofidicar</button>
        </div>

        <p class="text-danger col-12 text-center err-form-general"></p>
    
    
        <script src="/js/product/updateProduct.js"></script>
    </form>
</div>